mkdocs>=13.0,<14
mkdocs-material>=10.0,<11
mkdocs-minify-plugin>=0.6,<1
mkdocs-macros-plugin>=0.8,<1
mkdocs-redirects>=1.2,<2
mkdocs-git-revision-date-localized-plugin>=1.2,<2
mkdocs-git-committers-plugin>=0.4,<1
pygments>=2.18,<3
